.main-header{
   height: 600px;
   max-width: clamp(88%, 100vw, 100%);
   margin: auto;
   background-color: #1E0044;
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   align-items: center;
   transition-duration: 0.3s;
  box-shadow: 0 0 10px #1e0240, 0 0 14px #5405b4, 0 0 14px #7807f86e;
}
.main-header:hover{
    box-shadow: 0 0 10px #592697, 0 0 14px #5405b4, 0 0 14px #7807f86e;

    transform: scale(1.01);
}
.fileira{
   
    display: flex;
    justify-content: space-between; /* Distribui os links uniformemente */
    width: 100%; /* Faz a linha ocupar a largura total do header */
    max-width: 800px; /* Limita a largura máxima, opcional */
    font-size: 13px;
    font-family: "Quicksand", sans-serif;
    margin-top: 40px;
    font-weight: 500;
    text-decoration: none;
    color: white;
}

.icon{
    font-size: 1.3em; /* Aumenta o tamanho da seta */
}
