.section3{
    background: linear-gradient(to bottom, #E9DEFF, #beb5cfe5);
    border-radius: 25px;
    margin: 20px 90px;
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    transition-duration: 0.2s;
}
.section3:hover{
    box-shadow: 0 0 10px rgba(182, 182, 182, 0.63), 0 0 14px rgba(182, 182, 182, 0.555), 0 0 14px rgba(182, 182, 182, 0.575);
    transform: scale(1.01);
    
    
}



  

.title{
    border-top: 1px solid black;
    border-image: linear-gradient(to right, rgb(182, 182, 182), black, rgb(182, 180, 180)) 1; 
    margin-left: 75px;
    margin-top: 75px;
    font-size: 2em;
    padding-top: 5px;
    
}
.conteudo{

margin: 50px;
}
.conteudo h3 {

    border-top: 1px solid black;
    border-image: linear-gradient(to right, rgb(182, 182, 182), black, rgb(182, 180, 180)) 1; 
    font-weight: 400;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: left;
    color: black;
}
.title ::before{
        font-size: 40px;
        content: "•"; /* Adiciona a bolinha */
        margin-right: 8px; /* Espaço entre a bolinha e o texto */

}

#border{
    color: black;
    border-bottom: 1px solid black;
    padding: 15px;
    border-image: linear-gradient(to right, rgb(182, 182, 182), black, rgb(182, 180, 180)) 1; 
}

